:root {
  --body-color: rgb(58, 54, 54);
  --nav-bg-color: rgb(12, 7, 7); 
  --bg-color: rgb(124, 119, 118);
  --accent-color: rgb(221, 193, 177);
  --navtext-color: rgb(138, 107, 105);
  --herotext-color: rgb(255, 247, 242);
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Quicksand", sans-serif; 
}